<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="https://www.omg.org/spec/DMN/20191111/MODEL/"
             xmlns:dmndi="https://www.omg.org/spec/DMN/20191111/DMNDI/"
             xmlns:dc="http://www.omg.org/spec/DMN/20180521/DC/"
             xmlns:modeler="http://camunda.org/schema/modeler/1.0"
             xmlns:di="http://www.omg.org/spec/DMN/20180521/DI/"
             id="Definitions_11mbzu2" name="DRD" namespace="http://camunda.org/schema/1.0/dmn"
             exporter="Camunda Modeler" exporterVersion="5.14.0"
             modeler:executionPlatform="Camunda Cloud"
             modeler:executionPlatformVersion="8.2.0">

  {% for element in diagram.elements_list %}
    {% if element.prediction.predicted_label == 8 %}
      {% if element.requirements %}
        <decision id="{{ element.id }}" name="{{ element.get_name() }}">
            {% for requirements in element.requirements %}
                {{ requirements.render_requirement() | indent(6) }}
            {% endfor %}
            {% if element.table %}
              {% for table in element.table %}
                {% set hit_policy_first_word = table.hitPolicy.get_label().split()[0]|upper %}
                <decisionTable id="{{ table.id }}" hitPolicy="{{ hit_policy_first_word }}">
                  {% for input in table.inputs %}
                    {{input.render_input()| indent(8)}}
                  {% endfor %}
                  {% for output in table.outputs %}
                    {{output.render_output()| indent(8)}}
                  {% endfor %}
                  {% for rule in table.rules %}
                    <rule id="{{ rule.id }}">
                      {% if rule.inputEntries %}
                        {% for input_entry in rule.inputEntries %}
                          {{input_entry.render_inputEntry()| indent(10)}}
                        {% endfor %}
                      {% endif %}
                      {% if rule.outputEntries %}
                        {% for output_entry in rule.outputEntries %}
                          {{output_entry.render_outputEntry()| indent(10)}}
                        {% endfor %}
                      {% endif %}
                    </rule>
                  {% endfor %}
                </decisionTable>
              {% endfor %}
            {% endif %}  
        </decision>
      {% else %}
        {{ element.render_element() | indent(4) }}
      {% endif %}
    {% elif element.prediction.predicted_label == 9 %}
      {{ element.render_element() | indent(2) }}
    {% elif element.prediction.predicted_label == 7 %}
      {% if element.requirements %}
        <businessKnowledgeModel id="{{ element.id }}" name="{{ element.get_name() }}">
          {% for requirements in element.requirements %}
            {{ requirements.render_requirement() | indent(6) }}
          {% endfor %}
        </businessKnowledgeModel>
      {% else %}
        {{ element.render_element() | indent(4) }}
      {% endif %}
    {% elif element.prediction.predicted_label == 6 %}
      {% if element.requirements %}
        <knowledgeSource id="{{ element.id }}" name="{{ element.get_name() }}">
          {% for requirements in element.requirements %}
            {{ requirements.render_requirement() | indent(6) }}
          {% endfor %}
        </knowledgeSource>
      {% else %}
        {{ element.render_element() | indent(4) }}
      {% endif %}
    {% endif %}
  {% endfor %}

  <dmndi:DMNDI>
    <dmndi:DMNDiagram>
      {% for element in diagram.elements_list %}
        {{ element.render_shape() | indent(6) }}
        {% for requirements in element.requirements %}
          {{ requirements.render_shape() | indent(6) }}
        {% endfor %}
      {% endfor %}
    </dmndi:DMNDiagram>
  </dmndi:DMNDI>
</definitions>
